@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);
@import url('normalize.css');


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.panel-primary, .panel-default { width:85%; 
	float:left; 
/*	margin-right:5%; */
	margin-left:5% ;
	min-height:180px;
	background: #d8d0ba;
	background: #f7dca4;
	background: #e3d9b0;
	background-color: #d1e1ab; /* liter green */
	background: #94cbda; /* lite sky blue */
	background: #79b4c9; /* slate */
	background: #7fa8c9; /* slate */
	background: #8cb1ce; /* slate */
	background: #99b9d4; /* slate */
	background: #a5c2d9; /* slate */

font-size: 1em;
	border: 5px solid #7e8eaf;
}
.cl { clear:both; }

.alert .alert-danger {

  color: #656565;
  background-color: #f2dede;
  background-color: red;
  border-color: #ebccd1;
  font-size: 1.1em;
}


.alert-success {

  color: #656565;
  color: #fff;
  background-color: #9bbf81;
  border-color: #618544;
  font-size: 1.1em;

}


/*
body {
	background: #d1e1ab;
	background: #d4d3d1;
	padding:50px;
	color: #404d5b;
	color: #6a7989;  

	font-weight: bold;
	font-size: 1.4em;
	font-family: "Helvetica Neue", "Raleway", Arial, sans-serif;
}
*/

/********** animation.css ************/

.page        { 
    font-family: Helvetica;
    font-size: 30px;
    bottom:0; 
    padding-top:10px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%; 
}


.page-home      { 

    background:#00bba9; 
        background:#4fd1cb; 
        background:#47bcb7; 
    background:#51aba8; 
        background:#00D0BC; 



    color:#333;
    font-family: Helvetica;
    font-size: 30px;
    bottom:0; 
    padding-top:10px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%;

}
.homeimg {
  /*  width: 700px; */
    width: 100%;
    height: 70%;   /*400px;*/
    background-color: #00d0bc;
}

.page-404   { background:#ffa6bb; color:#9e0000;
font-family: Helvetica;
    font-size: 30px;
    bottom:0; 
    padding-top:10px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%; }


/* 1 home */
.page-home.ng-leave         {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: rotateFall 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: rotateFall 1s both ease-in;
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}
.page-home.ng-enter         {  
    -webkit-animation:scaleUp 0.5s both ease-in;
    -moz-animation:scaleUp 0.5s both ease-in;
    animation:scaleUp 0.5s both ease-in;    
}

/* 2 main */
.page-main.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
    -moz-animation:slideOutLeft 0.5s both ease-in;
    animation:slideOutLeft 0.5s both ease-in;   
}
.page-main.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

/* 3 404 */
.page-404.ng-leave      {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotateOutNewspaper .5s both ease-in;
    -moz-transform-origin: 50% 50%;
    -moz-animation: rotateOutNewspaper .5s both ease-in;
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}
.page-404.ng-enter      { 
    -webkit-animation:slideInUp 0.5s both ease-in;
    -moz-animation:slideInUp 0.5s both ease-in;
    animation:slideInUp 0.5s both ease-in;  
}


/* leaving animations - rotate and fall */
@-webkit-keyframes rotateFall {
    0% { -webkit-transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
    40% { -webkit-transform: rotateZ(17deg); }
    60% { -webkit-transform: rotateZ(16deg); }
    100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
    0% { -moz-transform: rotateZ(0deg); }
    20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
    40% { -moz-transform: rotateZ(17deg); }
    60% { -moz-transform: rotateZ(16deg); }
    100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
    0% { transform: rotateZ(0deg); }
    20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40% { transform: rotateZ(17deg); }
    60% { transform: rotateZ(16deg); }
    100% { transform: translateY(100%) rotateZ(17deg); }
}

/* entering animations - scale up */
@keyframes scaleUp {
    from        { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
    from        { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
    from        { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide out */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}

/* rotate out */
@-webkit-keyframes rotateOutNewspaper {
    to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
    to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
    to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}


.container1 {
	background: #d1e1ab;
/*	margin-left: 15%;*/
	background: #d4d3d1;
	padding-left:50px;
	padding-top: 100px; 
	color: #404d5b;
	color: #6a7989;  /* dark grayslate */

	font-weight: bold;
	font-size: 1.4em;
	font-family: "Helvetica Neue", "Raleway", Arial, sans-serif;
}

.mytitle {
	margin-left: 5%;
}
/*
.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

*/

.displayDate {
	margin-left: 20px;
	margin-top: 20px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 1.5em;
	color: #6a7989;
	text-align: center;
	font-size: 1em;
	background: #b1c27a;  /* med green */

	background-color: #d1e1ab; /* liter green */

	border: solid #b1c27a;
}



.content {
	font-size: 150%;
	padding-top: 1em;
	padding-bottom: 3em;
}
.content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

.bgcolor-6 {  color: #fff;
	background-color: #d1e1ab; /* liter green */
}

/*
input[type=text], textarea {
	padding: 3px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.2)
}
textarea { 
	width: 100%; 
	margin-bottom: 12px;
}
*/

.date {
	float:left;
}
.page404 {
	background-color: #e1eef3;
	padding-bottom: 40px;
	border: solid 4px #93a4aa;
}
button {
	margin: 0 0 12px 12px;
			background: transparent;
	background: #f0f0f0;
		color: #6a7989;  /* dark grayslate */
		font-size: .9em;



}
#addButton {
	margin: 0 0 12px 12px;
			background: transparent;
	background: #f0f0f0;
		color: #6a7989;  /* dark grayslate */
		font-size: .6em;

}

button:hover,  #addButton:hover {
	background-color: blue;
	background-color: #9bbf81;

}
.button:hover {
		background-color: #9bbf81;


}

.color-images {
  float: left;
}
.inputForm {
	border: none;
	margin-bottom: 0;
}



/* lite blue for form */
.bgcolor-6 { background: #94cbda; color: #fff;
	background-color: #d1e1ab; /* liter green */
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
/*	max-width: 350px;*/
	width: 200px; 
	
/*	width: calc(100% - 2em);*/
	vertical-align: top;
	/* new */
	/*	overflow: hidden;  */
	height: 70px;

}


.input_field {
/*	 position: relative; */
		position: absolute; 
/*		height: 100px; */
		display: block;
		float: left;
		width: 100%; /* width of input field itself */
		font-size: .70em;   /*0.85em; */
/*		padding: 2.15em 0.75em 0;  */
		padding: 1.7em 1em 1em 1em;
		background: transparent;

		/*
		color: #aaa;       /* lite green for input text */
	/*	color: blue;       /* lite green for input text */
		color: #9bbf81;       

		z-index: 100;


	border: none;
	border-radius: 0;
/*	background: #f0f0f0;  /* offwhite */
/*	color: #aaa;   /* medium gray  for label */
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}



.input_field:focus {
	outline: none;
}


.input_label {
	display: inline-block;
	float: right;
	padding-bottom: .5em; 
	padding-top: .5em; 
	padding-left: 1em;
	width: 100%;
	height: 100%;  
	background: #d8d0ba;  /* sand */
	background: #fff;  


	text-align: left; 

/*	color: #6a7989;  /* dark grayslate */
/*	color: green;  */
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



.input_label_content {
	position: relative;
	display: block;
	width: 100%;
	color: red;
	color: #6a7989;  /* dark grayslate */

/*	padding: 2em 1em;  */
	padding: .65em 1em;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;

	text-rendering: geometricPrecision;
}


/*  creates the original input box with border */
.input_label::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/*	padding: .5em .5em;*/

	border: 0px solid transparent;
	border: 5px solid #9bbf81;  /* dark green */

	-webkit-transition: border-width 0.3s, border-color 0.3s;
	transition: border-width 0.3s, border-color 0.3s;
}


/* border when cursor on the input area, transorm background color */
/* creates the box around the input*/

.input_field:focus + .input_label::before,
.input--filled .input_label::before {
	border-width: 8px;
	border-color: orange;   /*orange */
	border-color: #9bbf81;   /*lite green same as input text */

/*	border-top-width: 2em;  */
	border-top-width: 1.5em;
}


/* when cursor is on field, transform & change text color*/
/* creates the white label at top*/
.input_field:focus + .input_label .input_label_content,
.input--filled .input_label .input_label_content {

	color: blue;

	color: #fff;
	-webkit-transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
}




