<div>
	<br>
    <p>{{message}}</p>

<section class="color-11 mytitle">

		<nav class="cl-effect-16" id="cl-effect-16">

			<a href="#/" data-hover="Go Home">Go Home</a>
		
				</nav>
</section>

<br>
<div>
	<img class="image1" src="../img/circadianrhythm1.jpg">

<!--
	<img class="image1" src="../img/3clocks_small.jpg">
	<img class="image1" src="../img/rabbit_clock_small3.jpg">
	<img class="image1" src="../img/beat-the-clock-runner.jpg">
	<img class="image1" src="../img/easter_eggs.png">
	<img class="image1" src="../img/eb_flowersketch.jpg">
	<img class="image1" src="../img/impressionist1.jpg">
	<img class="image1" src="../img/impressionist2.jpg">
	<img class="image1" src="../img/impressionist3.jpg">
	<img class="image1" src="../img/impressionist4.jpg">
	<img class="image1" src="../img/impressionist5.jpg">
	<img class="image1" src="../img/impressionist6.jpg">
	<img class="image1" src="../img/impressionist7.jpg">
	<img class="image1" src="../img/impressionist8.jpg">
	<img class="image1" src="../img/impressionist9.jpg">
	<img class="image1" src="../img/impressionist10.jpg">
-->
</div>