<!-- this is actually the home landing page, not the main page -->


<div>
	<img class="homeimg" src="img/running-clocks_700_transparent.png">

</div>


    <p class="mybanner" >{{message}}</p>

<section class="color-12 mytitle-home">

<!--
	<div class="mylinks">
    <p >{{message}}</p>
    <p><a href="#/show">/Main Page</a></p>
    <p><a href="#/chart">/View Chart</a></p>
    <p><a href="#/junk">/404 page</a></p>


</div>
	

-->

		<nav class="cl-effect-16" id="cl-effect-16">


			<a href="#/show" data-hover="Activities">Activities</a>
			<a href="#/chart" data-hover="Chart">Chart</a>
			<a href="#/junk" data-hover="404 Page">404 Page</a>
		
				</nav>
</section>
