

<!-- original show.html 
<div>
    <p>{{message}}</p>
    <p><a href="#/">/Go to Home Page</a></p>
</div>
-->
   
<div class="clippedImg"></div>


<div class="container1">


<section class="color-11 mytitle">

<!--
	

-->

		<nav class="cl-effect-16" id="cl-effect-16">

        <a href="#/" data-hover="Home">Home</a>
        <a href="#/chart" data-hover="Chart">Chart</a>
        <a href="#/view" data-hover="View">View</a>
        <a href="#/junk" data-hover="404 Page">404 Page</a>

		</nav>
  </section>





<div class="cl">
	
  <h3 class="mytitle">Add/Update Your Activities and Hours</h3>
  <div class="panel panel-default">
    <div id="alertBox" style="height: 35px; font-size: 15px; line-height: 70%;" class="alert alert-danger"
      ng-show="add_portfolio_error != '' ">
      {{ add_portfolio_error }}
    </div>

  <div  style="float:left;">
        <input 
        class="displayDate"
        type="date" 
        placeholder="yyyy/mm/dd" 
        size="10" 
        required
        ng-model="control.date" 
        ng-change="checkDate()"/>
  <span class="errormsg" ng-show="control.date.$error.required">
                   Date Required
  </span>
    </div>

  <br><br>
  

<form  name= "mytestform" novalidate>
  

    <ul ng-repeat="name in categories" style="font-size: 16px; margin-bottom: -10px;">

    <!--
      <li ><br> {{name.goal}} -- hours: {{name.hours}} 

-->

      <li ><br> {{name.goal}} -- hours: &nbsp

        <input type="text" size="3" maxlength="3" placeholder="{{name.hours}}" ng-model = "entered_time" name="entered_time" ng-change="clearMsg()"/>


      <a href="" ng-click="updateEntry(name,entered_time,entered_comments, entered_rating)" style="margin-left: 4px; "><--update 

        <!-- works but hours does not get zeroed out when input field entered, this does not work
        <input type="text" size="5" ng-model = "entered_time" name="entered_time" ng-change="clearMsg()"/>

          -->
    </a>

          
<!--

   

-->

<button ng-click='removeName(name)'style="margin-left: 20px; font-size:.8em;" >Delete activity</button>

<br>


<!-- comment in to show value of rating while testing
<p>You rate this as: &nbsp{{name.rating}}</p>

-->

    <input id="field6" type="radio"  ng-model="name.rating" ng-value="ratingValue1" >&nbspneutral<br>


    <input id="field6a" type="radio"  ng-model="name.rating" ng-value="ratingValue2">&nbspenjoy it a lot<br>

  <input id="field6b" type="radio"  ng-model="name.rating" ng-value="ratingValue3">&nbsphate it<br>


<br>
 <textarea placeholder="{{name.comments}}" rows="3" cols="40" maxlength="160" ng-model = "name.comments" name="entered_comments" ng-change="clearMsg()"/>
</textarea>

<br>
<hr style="width: 100%; margin-left: -10px;">



    </li>
    </ul>
    <br>
  </form>


<!--



-->


<form class="inputForm" name= "myform" name="entry_goal" ng-submit="addEntry(adding_entry)" novalidate>

<section class="content bgcolor-6">

<span class="input" id="span1">

      <input class="input_field" type="text" maxlength="15" id="input-28"  name="ent_goal" required ng-model="adding_entry.goal">


          <label class="input_label" for="input-28">
            <span class="input_label_content">Activity</span>
          </label>
</span>

 <span class="input" id= "span2">

      <input class="input_field" type="text"  maxlength="3" size="4" id="input-29" name="ent_hours" required ng-model="adding_entry.hours">

          <label class="input_label" for="input-29">
            <span class="input_label_content">Hours</span>
          </label>

      <button type="submit" id = "addButton"  style="float:right;">Add</button>


  
   

 <!-- 
   <button type="submit" class="btn btn-default" style="float:right;">Add</button>

        <input type="button" value="Add">
         <input type='submit' value="add" style="float:right;">



    -->

</span>

    <span class="errormsg" ng-show="myform.entry_goal.$error.required">
                   Entry Required
    </span>
       <!--
         
      -->
</section>

</form>

  </div><!-- end of panel-->

  <!--

<div class="show-colors"  ng-init="mySwitch=true" ng-show="true">
<div class= "cl" style="height: 300px;">

    -->
<br>

<div class = "cl mytitle" id="show1">
<button ng-click='resetAll3()'>Show Legend</button>
<button ng-click='resetAll()'>Reset & Show Visuals1</button>
<button ng-click='resetAll2()'>Reset & Show Visuals2</button>

</div>

<div class="cl">

<div class="color-images" ng-if='showElement3' ng-repeat="name in categories" ng-show="true" ng-style="computeCSS(item)">

<p id = "showLegend">{{name.goal}} </p>
</div><!-- end of showLegend-->

</div>

<div class="cl">
  <br><br>
</div>



<br><br>

<div class="color-images" id='showVisual1' ng-if='showElement' ng-repeat="name in categories" ng-style="computeCSS(item)">
</div><!-- end of showVisual1-->

<br>
<br><br>

<div class="color-images" id='showVisual2' ng-if='showElement2' ng-repeat="name in categories" ng-style="computeCSS(item)">

</div><!-- end of showVisual2-->


</div><!-- end of main cl-->
</div><!-- end of container1-->




<script>

$( "#input-28" ).blur(function() {

var inputValue = $("#input-28").val();
  console.log("inputValue = " + typeof(inputValue));
    console.log("inputValue = " + inputValue);


if (inputValue === "" || inputValue === undefined) {
      console.log("inputValue again  = " + inputValue);
    $("#span1").removeClass("input--filled");
   } else  {
    $("#span1").addClass("input--filled");
   }
});

$( "#input-29" ).blur(function() {

var inputValue29 = $("#input-29").val();
  console.log("inputValue29 = " + typeof(inputValue29));
    console.log("inputValue29 = " + inputValue29);


if (inputValue29 === "" || inputValue29 === undefined) {
      console.log("inputValue29 again  = " + inputValue29);
    $("#span2").removeClass("input--filled");
   } else  {
    $("#span2").addClass("input--filled");
   }
});


/*

*/


</script>



