<html ng-app="goalKeeperApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Goal Tracker Midterm Project 3/23/15 MBoucher</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  
  <script type="text/javascript" src="js/jquery-1.11.2.js"></script>

  <script type="text/javascript" src="js/angular.1.3.14.js"></script>
  <script type="text/javascript" src="js/angular-route.js"></script>


</head>
<style>
.color-images {
  float: left;
}

</style>

   </head>
<body ng-controller="MainCtrl">


<div class="cl">
  <h3>Add Your Goals and Hours</h3>
  <div class="panel panel-default">
    <div class="alert alert-danger"
      ng-show="add_portfolio_error != '' ">
      {{ add_portfolio_error }}
    </div>

  <div style="float:left">
        <input 
        type="text" 
        placeholder="yyyy/mm/dd" 
        size="10" 
        required
        ng-model="control.date" />
  </div>
  <span class="errormsg" ng-show="control.date.$error.required">
                   Date Required
  </span>
  <br><br>

    <ul style="font-size: 18px;">
      <li ng-repeat="name in categories">{{name.goal}} -- number of hours: {{name.hours}} 
      <a href="" ng-click="removeName(name)" style="margin-left: 20px; ">remove</a></li>
    </ul>

    <form name= "myform" name="entry_goal" ng-submit="addEntry(adding_entry)" novalidate>

      <input type="text" placeholder="Goal" required ng-model="adding_entry.goal">
      <input type="text" placeholder="hours" required ng-model="adding_entry.hours">
  ">

<div>
  <!--
   <input type="text" placeholder="color" required ng-model="mycolor
    <input type="color" value="#f0f0f0" />
        <input type="color" ng-model="mycolor" />
</div>

  -->

<!--
  write down a sentence everyday - 
      the span for required error is not working
-->


    <span class="errormsg" ng-show="myform.entry_goal.$error.required">
                   Entry Required
    </span>
       <!--
         
      <span class="validation-message" ng-show="myform.$invalid">
                    Invalid entry
      </span>


      <input type='submit' value="add" ng-disabled='myform.$invalid'>
      -->
      <input type='submit' value="add">


    </form>

  </div><!-- end of panel-->

  <!--

   <button ng-click="computeCSS()">Compute CSS</button>


<div class="show-colors"  ng-init="mySwitch=true" ng-show="true">
<div class= "cl" style="height: 300px;">
<div id='myExpensiveElement' ng-if='showElement'> 
<button ng-click='showElement = !showElement'>ShowElement</button>

    -->

<button ng-click='resetAll()'>ShowElement & Reset</button>

<br><br>

<div class="color-images" id='myExpensiveElement' ng-if='showElement' ng-repeat="name in categories" ng-style="computeCSS(item)">


<!--
      <img style="width:300px; height: 300px;" class="ng-cloak" ng-src="{{ color.imageurl }}" alt="no color">
-->



</div><!-- end of show-colors-->

</div><!-- end of cl-->
<script>
var nameApp = angular.module('goalKeeperApp', []);



nameApp.controller('MainCtrl', function ($scope){
  $scope.categories = [
  {goal: 'Family Time', hours: 5}, 
  {goal:'Daily Chores', hours: 4},
  {goal: 'Learn New Skills', hours: 2},
  {goal: 'Exercise/Gym', hours: 2},
  {goal: 'Sleep', hours: 8 },
  {goal: 'Other', hours: 3 }
];

$scope.colorArray = [
  { colorCode: '#F0662E'},
  { colorCode: '#6FCEF1'},
  { colorCode: '#40AF48'},
  { colorCode: '#FEF672'},
  { colorCode: '#E85589'},
  { colorCode: '#E81D2B'},
  { colorCode: '#745331'},
  { colorCode: '#632D92'},
  { colorCode: '#FCCA8F'}
];

/*
#F0662E orange
#6FCEF1 sky bluenoise
#40AF48 green
#FEF672  yellow
#E85589 pink
#E81D2B  red 
#745331  brown
#632D92 purple
#FCCA8F sand
*/

$scope.colors = [
    {imageurl: 'img/beigenoise.jpg', displayWidth: '50%'}, 
    {imageurl: 'img/bluenoise.jpg', displayWidth: '30%'} 
  ];



$scope.add_portfolio_error = "";
$scope.control= {};
$scope.cnt = 0;


    $scope.addEntry = function(any_name) {

// check for dupes
      var input = $scope.adding_entry.goal;
      if (input)
      var inputUpperCase = input.toUpperCase();

      console.log ("user entered = " + input); 
      console.log($scope.categories.length);


      for (var i = 0; i < $scope.categories.length; i++){

        console.log("in addEntry i = " + i);

        for (var prop in $scope.categories) {
          var temp = $scope.categories[i]["goal"];
          var tempUpperCase = temp.toUpperCase();

          if (tempUpperCase == inputUpperCase){
            console.log("duplicate found " + input);
            $scope.add_portfolio_error = input + " is a duplicate - pls. correct ";

          return;
        }

      }; //end of for v prop
  };   // end of for var i

// if not a dupe, add new entry to array ======

      if ($scope.myform.$valid){
       $scope.categories.push(any_name);
//     $scope.categories.push(inputUpperCase); // a primitive
       console.log($scope.categories);
//        console.log('valid form');
        $scope.adding_entry = {};
        $scope.add_portfolio_error = "";
      }
      else {
        console.log('invalid form');
        $scope.add_portfolio_error = "entry error";
        return false;
      };

};  //end of addEntry


        $scope.removeName = function(name) {
          var i = $scope.categories.indexOf(name);
          $scope.categories.splice(i, 1);
        };
/*
  function is_valid_date (the_date){
    //http://eloquentjavascript.net/09_regexp.html
    if (the_date.match(/^[0-9]{4,4}\/[0-9]{2,2}\/[0-9]{2,2}$/)){
      var d = new Date(the_date);
      return !(isNaN(d.getTime()));
    } else {
      $scope.add_portfolio_error = "invalid date";

      return false;
    };
  };

document.getElementById("color-images").innerHTML="text";
text= '<div style="position:relative; width: 200px; height: 200px; background-color: #646464">' +
                  '<div ng-repeat="item in items" id="{{$index}}" class="my-rectangles" ng-style="computeCSS(item)"></div>' +
              '</div>'
*/

$scope.resetAll = function() {

$scope.cnt = 0;
$scope.showElement = !$scope.showElement;

    };


$scope.computeCSS = function(item) {
 //    for (var i = 0; i < $scope.categories.length; i++){
    mySwitch = "1";
if ($scope.cnt >= ($scope.categories.length)) { 
            mySwitch = "0"};

    
do {
          console.log("in computeCSS scope.cnt = " + $scope.cnt);
          console.log("scope.categories.length = " + $scope.categories.length);

           if ($scope.cnt == ($scope.categories.length)) { 
            mySwitch = "0";}
  //          break;
   //         return;
            
          for (var prop in $scope.categories) {
           
              var newWidth = $scope.categories[$scope.cnt]["hours"];
              newWidth = newWidth * 20;

              var newColor = $scope.colorArray[$scope.cnt]["colorCode"]; 
              console.log("new color is = " + newColor);

 //           var newColor = $scope.categories[$scope.cnt]["color"];
 //       console.log("hours = " + $scope.categories.hours);
            console.log("newWidth = " + newWidth);
          $scope.cnt = $scope.cnt + 1;
          console.log ("scope.cnt = " + $scope.cnt);
   
            return { 
 //         width: item.width+"px", 
            width: newWidth + "px",
            float: 'left',
            height: '200px',
  //        left: item.left+"px", 
//          top: item.top+"px", 
//          height: item.height+"px", 
 //         'background-color':item.color
 //           'background-color': '#4C8B71'
            'background-color': newColor
            };
  //  if ($scope.cnt == ($scope.categories.length - 2)) { 
  //          mySwitch = "0"; break;}

          }; //end of for v prop
        }
    while (mySwitch == "1");

};//end of computeCSS


 //       var newWidth = '200px';
  // works        var newWidth = $scope.categories[0]["hours"];
 // x         var newWidth = $scope.categories.hours;
      
      $scope.items = [
        {width: 100, left: 100, top: 100, height: 100, color:'#4C8B71'},
        {width: 100, left: 100, top: 100, height: 100, color:'#F3D698'},
        {width: 100, left: 160, top: 100, height: 100, color:'#D25F45'}
      ];

      
  $scope.mycolor = "#f0f0f0";
    
    $scope.$watch('mycolor', function(val) {
        console.log('val ' + val);
    });


      });   //end of controller 

    </script>

  </body>
</html>

