<html ng-app="goalKeeperApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Goal Tracker Midterm Project 3/23/15 MBoucher</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  
  <script type="text/javascript" src="js/jquery-1.11.2.js"></script>

  <script type="text/javascript" src="js/angular.1.3.14.js"></script>
  <script type="text/javascript" src="js/angular-route.js"></script>


</head>

   </head>
<body ng-controller="MainCtrl">


<div class="cl">
  <h3>Add Your Goals and Hours</h3>
  <div class="panel panel-default">
    <div class="alert alert-danger"
      ng-show="add_portfolio_error != '' ">
      {{ add_portfolio_error }}
    </div>

  <div style="float:left">
        <input 
        type="text" 
        placeholder="yyyy/mm/dd" 
        size="10" 
        ng-model="control.date" />
  </div>

<br><br>

    <ul>
      <li ng-repeat="name in categories">{{name.goal}} 
<!--
      <li ng-repeat="name in names">
      <span ng-bind="name.goal"></span>
-->
      <a href="" ng-click="removeName(name)">remove</a></li>
    </ul>

    <form name= "myform" ng-submit="addEntry(adding_entry)" novalidate>
      <input type="text" ng-model="adding_entry.goal">
<!--
      <span class="validation-message" ng-show="myform.$invalid">
                    Invalid entry
      </span>

    -->
      <input type='submit' value="add" ng-disabled='myform.$invalid'>
    </form>

  </div><!-- end of panel-->
</div><!-- end of cl-->
       <script>
      var nameApp = angular.module('goalKeeperApp', []);



      nameApp.controller('MainCtrl', function ($scope){
        $scope.categories = [
        {goal: 'Family Time'}, 
        {goal:'Daily Chores'},
        {goal: 'Learn New Skills'}
      ];

        $scope.add_portfolio_error = "";
        $scope.control= "";


        $scope.addEntry = function(any_name) {

          var input = $scope.adding_entry.goal;
          var inputUpperCase = input.toUpperCase();

          console.log ("user entered = " + input); 
          console.log($scope.categories.length);
 

for (var i = 0; i < $scope.categories.length; i++){

  console.log("i = " + i);

  for (var prop in $scope.categories) {
    var temp = $scope.categories[i]["goal"];
    var tempUpperCase = temp.toUpperCase();


    if (tempUpperCase == inputUpperCase){
          console.log("duplicate found " + input);
          $scope.add_portfolio_error = input + " is a duplicate - pls. correct ";

          return;
      }

    };
};

          if ($scope.myform.$valid){
           $scope.categories.push(any_name);
 //           $scope.categories.push(inputUpperCase);
            console.log($scope.categories);
            console.log('valid form');
            $scope.adding_entry = {};
            $scope.add_portfolio_error = "";


          }
          else {
            console.log('invalid form');
            return false;
          };

        };  //end of addEntry


        $scope.removeName = function(name) {
          var i = $scope.categories.indexOf(name);
          $scope.categories.splice(i, 1);
        };

      });   //end of controller 

    </script>

  </body>
</html>

